table tr td{
    cursor: pointer;
    width: 100px;
    height: 50px;
}

table tr:nth-child(2n){
    background-color: rgb(209, 255, 255);
}

table tr:nth-child(2n+1){
    background-color: rgb(129, 255, 255);
}

table tr:hover{
    background-color: yellow;
}


table tr:first-child{
    background-color: black;
    color: white;
}